.column {
  height: 100%;
  background: #1a1d24;
  padding: 5px 15px 15px 15px;
  border-radius: 5px;
  width: 250px;

  .tittle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-bottom: 15px;
    :last-child {
      margin-top: 2px;
      position: absolute;
      right: 0;
    }
  }
}

.taskPicker {
  display: flex;
  gap: 10px;
  .pickUser {
    min-width: 300px;
  }
  .date {
    width: 100%;
  }
}

.newTask {
  width: 100%;
  margin-top: 15px;
}
