.column {
  height: 100%;
  background: #1a1d24;
  padding: 5px 15px 15px 15px;
  border-radius: 5px;
  width: 250px;

  .tittle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-bottom: 15px;
    :last-child {
      margin-top: 2px;
      position: absolute;
      right: 0;
    }
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contentInput {
  display: flex;
  gap: 15px;
}

.taskPicker {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 10px;
}

.newTask {
  width: 100%;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 0;
  .task {
    padding: 10px 0;
    overflow-wrap: break-word;
    background: #1a1d24;
    .taskContent {
      font-size: 16px;
      cursor: pointer;
      padding: 5px 0 10px 7px;
    }
    .taskData {
      font-size: 15px;
      color: #e4e4e4;
      padding: 0 0 3px 7px;
    }
    .space {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

