* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  color: white;
  background: #0f131a;
  header {
    nav {
      &.rs-navbar-default .rs-navbar-item:focus {
        color: #e9ebf0;
      }
      &.rs-navbar-default .rs-navbar-item:hover {
        background: transparent;
      }
      .rs-dropdown-menu {
        width: 100%;
        border-radius: 0;
        gap: 0;
        padding: 0;
        background: transparent;
        box-shadow: none!important;
        .rs-dropdown-item{
          padding: 0;
          &:hover {
            background: transparent;
          }
        }
        button {
          width: 100%;
        }
      }
    }
  }
  main {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.modalHeader {
  text-align: center;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 5px;
  textarea {
    min-height: 195px;
  }
}

.modalFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  button {
    width: 200px;
  }
}
